/aula03exemplos/nbproject/private/
/aula03exemplo01/nbproject/private/
/aula03exemplo01/build/
/aula03exercicio01/nbproject/private/
/aula03exercicio02/nbproject/private/
/aula03exercicio02/build/
/aula03exercicio03/nbproject/private/
/aula03exercicio03/build/
/aula03exercicio04/nbproject/private/
/aula03exercicio04/build/
/tarefa02/nbproject/private/
/tarefa02/build/
/test/nbproject/private/
/exercicios-aula/aula04exercicio01/nbproject/private/
/exercicios-aula/aula04exercicio01/build/
/exercicios-aula/aula04exercicio01/dist/
/exercicios-aula/aula04exercicio02/nbproject/private/
/exercicios-aula/aula04exercicio02/build/
/exercicios-aula/aula04exercicio03/nbproject/private/
/exercicios-aula/aula04exercicio03/build/
/exercicios-aula/aula03exercicio05/nbproject/private/
/exercicios-aula/aula03exercicio06/nbproject/private/
/exercicios-aula/aula03exercicio07/nbproject/private/
/exercicios-aula/aula04exercicio04/nbproject/private/
/exercicios-aula/aula04exercicio04/build/
/exercicios-aula/aula04exercicio05/nbproject/private/
/exercicios-aula/aula04exercicio05/build/
/tarefas/tarefa03/nbproject/private/
/tarefas/tarefa02/dist/
/tarefas/tarefa03/build/
/tarefas/tarefa03/dist/
/tarefas/tarefa04/nbproject/private/
/tarefas/tarefa04/build/
/tarefas/tarefa04/dist/
/tarefas/tarefa05/nbproject/private/
/tarefas/tarefa06/nbproject/private/
/tarefas/tarefa07/nbproject/private/
