/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 de jul de 2022, 10:54:15
    Author     : lelim
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 400;
  background-color: #161819;
  font-family: "Poppins", sans-serif;
}
header {
    margin: 46px;
    text-align: center;
}
h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.1em;
}
form {
    margin: 70px 0 0;
}
.content-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container {
    background-color: #1F2123;
    border-radius: 24px;
    padding: 24px;
    width: 500px;
    height: 250px;
}
.vector-card {
    background-color: #393A3E;
    border-radius: 24px;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 10px 0;
}
.button {
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 20px 0 10px;
}
input {
    width: 230px;
    border-radius: 10px;
    background-color: #faf9f9;
    padding-left: 10px;
}
button {
    background-color: #37d9d1;
    border-radius: 20px;
    border: 1px solid #114c49;
    padding: 5px 20px;
    width: 40%;
}
a {
    color: #000;
    text-decoration: none;
}
.users-table{
    margin-top: 30px;
}
.users-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.users-btn button  {
    width: 150px;
    background-color: #eb7142;
    border: 1px solid #934223;
}

footer {
    margin: 46px;
    text-align: center;
}